<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Archer's Network</title>
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<header>
		<img class="logo" src="images/arch_logo.png" alt="">

		<nav>
			<div class="search">
				<input type="text" placeholder="Search" required>
				<button>Search</button>
			</div>
			
			<div class="menu">
				<ul class="link">
					<li><a href="main_loggedin.html">Home</a></li>
					<li><a href="upload">Upload</a></li>
					<li><a href="aboutus">About Us</a></li>
					<li><a href="contactus">Contact Us</a></li>
					<li><a href="login">Log In</a></li>
					<li><a href="registration">Register</a></li>
				</ul>
			</div>
		</nav>
	</header>

	<div class ="aboutus">
		<div class="container_aboutus">
			<h2> Vision </h2>
			<p> ARCH aims to inspire social transformation within the Lasallian community through digital media production. </p>
			<br>
			<h2> Mission </h2>
			<p> ARCH is committed to creating relevant and timely content that inspires transformative change while bringing entertainment to its audiences. With primarily Lasallian- produced content distributed across online media platforms, the organization is devoted to honing its members to be professional and creative media practitioners with integrity and ambition. </p>
		</div>
	</div>
	


</body>
</html>